<?xml version="1.0"?>
<launch>
  <node name="state_machine" pkg="auturbo_pkg" type="state_machine.py" output="screen" />
  <node name="map_server" pkg="map_server" type="map_server" args="/root/mounted_folder/final_map3.yaml" respawn="false" />

  <!-- Run the costmap node -->
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen" args="--num_threads 18">

    <rosparam file="$(find dilly)/resources/costmap_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find dilly)/resources/costmap_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find dilly)/resources/costmap_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find dilly)/resources/costmap_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find dilly)/resources/costmap_params/base_local_planner_params.yaml" command="load" />
    
    <!-- To let the move_base subscribe to it -->
    <remap from="odom" to="/odom" /> 
  </node>

</launch>
